<div class="col-md-3 col-lg-2">
    <div class="card">
        <div class="card-header">
            <h5>Menú Principal</h5>
        </div>
        <div class="card-body p-0">
            <div class="list-group list-group-flush">
                <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action">🏠 Inicio</a>
                
                {% if user.is_superuser or user.idRol.nombreRol == 'Administrador' %}
                <a href="{% url 'lista_usuarios' %}" class="list-group-item list-group-item-action active">👥 Usuarios</a>
                {% endif %}
                
                <a href="#" class="list-group-item list-group-item-action">👥 Clientes</a>
                <a href="#" class="list-group-item list-group-item-action">🐶 Mascotas</a>
                <a href="#" class="list-group-item list-group-item-action">📅 Citas</a>
                <a href="#" class="list-group-item list-group-item-action">🏥 Consultas</a>
                
                {% if user.idRol.nombreRol != 'Secretaria' %}
                <a href="#" class="list-group-item list-group-item-action">📦 Inventario</a>
                {% endif %}
                
                <a href="#" class="list-group-item list-group-item-action">💰 Facturación</a>
            </div>
        </div>
    </div>
</div>